################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SunClouds/v17/.wsuo
/CustomControlLib/obj/project.nuget.cache
/CustomControlLib/obj/project.assets.json
/CustomControlLib/obj/Debug/net6.0-windows/WeatherCard.g.i.cs
/CustomControlLib/obj/Debug/net6.0-windows/UserControl1.g.i.cs
/CustomControlLib/obj/Debug/net6.0-windows/GraduceBtn.g.i.cs
/CustomControlLib/obj/Debug/net6.0-windows/CustomTbx.g.i.cs
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.i.lref
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.i.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.GeneratedMSBuildEditorConfig.editorconfig
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.assets.cache
/CustomControlLib/obj/CustomControlLib.csproj.nuget.g.props
/CustomControlLib/obj/CustomControlLib.csproj.nuget.dgspec.json
/SunCloud/.vs/ProjectEvaluation/suncloud.projects.v6.1
/SunCloud/.vs/ProjectEvaluation/suncloud.metadata.v6.1
/SunCloud/.vs/SunCloud/DesignTimeBuild/.dtbcache.v2
/SunCloud/.vs/SunCloud/FileContentIndex/db1d5a2f-214c-49ba-8ec8-2e9954072355.vsidx
/SunCloud/.vs/SunCloud/FileContentIndex/c8e513c0-2ee5-4e25-b644-dda89940e515.vsidx
/SunCloud/.vs/SunCloud/FileContentIndex/c22a8f8d-b66f-418c-8fe6-37e5791a1ce8.vsidx
/SunCloud/.vs/SunCloud/FileContentIndex/2e84d98e-d067-4f69-a73f-1d7f72928bb0.vsidx
/SunCloud/.vs/SunCloud/FileContentIndex/12c7064d-2bca-4b8d-a8c0-315820dc890f.vsidx
/SunCloud/.vs/SunCloud/FileContentIndex/10716fb3-0566-47be-8917-87a4fca3411c.vsidx
/StylesLib/obj/StylesLib.csproj.nuget.g.props
/StylesLib/obj/StylesLib.csproj.nuget.dgspec.json
/StylesLib/obj/project.nuget.cache
/StylesLib/obj/project.assets.json
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.i.lref
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.i.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib.GeneratedMSBuildEditorConfig.editorconfig
/StylesLib/obj/Debug/net6.0-windows/StylesLib.assets.cache
/SunCloud/.vs/SunCloud/v17/.suo
/SunCloud/.vs/SunCloud/v17/.futdcache.v2
/SunCloud/obj/Debug/net6.0-windows/View/Pages/WeatherPage.g.i.cs
/SunCloud/obj/Debug/net6.0-windows/View/Pages/SettingsPage.g.i.cs
/SunCloud/obj/Debug/net6.0-windows/View/Windows/PrimaryWindow.g.i.cs
/SunCloud/obj/Debug/net6.0-windows/View/Windows/MainWindow.g.i.cs
/SunCloud/obj/SunCloud.csproj.nuget.g.props
/SunCloud/obj/SunCloud.csproj.nuget.dgspec.json
/SunCloud/obj/project.nuget.cache
/SunCloud/obj/project.assets.json
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.i.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud.csproj.AssemblyReference.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.assets.cache
/SunCloud/obj/Debug/net6.0-windows/App.g.i.cs
/WeatherLib/obj/WeatherLib.csproj.nuget.g.props
/WeatherLib/obj/WeatherLib.csproj.nuget.dgspec.json
/WeatherLib/obj/project.nuget.cache
/WeatherLib/obj/project.assets.json
/WeatherLib/obj/Debug/net6.0/WeatherLib.GeneratedMSBuildEditorConfig.editorconfig
/WeatherLib/obj/Debug/net6.0/WeatherLib.assets.cache

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files
*.ncb
*.aps

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml
/CustomControlLib/bin/Debug/net6.0-windows/CustomControlLib.pdb
/CustomControlLib/bin/Debug/net6.0-windows/CustomControlLib.dll
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.lref
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.pdb
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.dll
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.csproj.FileListAbsolute.txt
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.csproj.CoreCompileInputs.cache
/StylesLib/bin/Debug/net6.0-windows/StylesLib.pdb
/StylesLib/bin/Debug/net6.0-windows/StylesLib.dll
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.lref
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib.pdb
/StylesLib/obj/Debug/net6.0-windows/StylesLib.dll
/StylesLib/obj/Debug/net6.0-windows/StylesLib.csproj.FileListAbsolute.txt
/StylesLib/obj/Debug/net6.0-windows/StylesLib.csproj.CoreCompileInputs.cache
/SunCloud/bin/Debug/net6.0-windows/WeatherLib.pdb
/SunCloud/bin/Debug/net6.0-windows/WeatherLib.dll
/SunCloud/bin/Debug/net6.0-windows/SunCloud.pdb
/SunCloud/bin/Debug/net6.0-windows/SunCloud.dll
/SunCloud/bin/Debug/net6.0-windows/StylesLib.pdb
/SunCloud/bin/Debug/net6.0-windows/StylesLib.dll
/SunCloud/bin/Debug/net6.0-windows/CustomControlLib.pdb
/SunCloud/bin/Debug/net6.0-windows/CustomControlLib.dll
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.lref
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.pdb
/SunCloud/obj/Debug/net6.0-windows/SunCloud.genruntimeconfig.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.dll
/SunCloud/obj/Debug/net6.0-windows/SunCloud.csproj.FileListAbsolute.txt
/SunCloud/obj/Debug/net6.0-windows/SunCloud.csproj.CoreCompileInputs.cache
/WeatherLib/bin/Debug/net6.0/WeatherLib.pdb
/WeatherLib/bin/Debug/net6.0/WeatherLib.dll
/WeatherLib/obj/Debug/net6.0/WeatherLib.pdb
/WeatherLib/obj/Debug/net6.0/WeatherLib.dll
/WeatherLib/obj/Debug/net6.0/WeatherLib.csproj.FileListAbsolute.txt
/WeatherLib/obj/Debug/net6.0/WeatherLib.csproj.CoreCompileInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.designer.runtimeconfig.json
/CustomControlLib/bin/Debug/net6.0-windows/CustomControlLib.pdb
/CustomControlLib/bin/Debug/net6.0-windows/CustomControlLib.dll
/CustomControlLib/obj/project.nuget.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.i.lref
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.i.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.pdb
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.GeneratedMSBuildEditorConfig.editorconfig
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.dll
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.assets.cache
/CustomControlLib/obj/CustomControlLib.csproj.nuget.dgspec.json
/StylesLib/obj/StylesLib.csproj.nuget.dgspec.json
/StylesLib/obj/project.nuget.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.i.lref
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.i.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib.pdb
/StylesLib/obj/Debug/net6.0-windows/StylesLib.GeneratedMSBuildEditorConfig.editorconfig
/StylesLib/obj/Debug/net6.0-windows/StylesLib.dll
/StylesLib/obj/Debug/net6.0-windows/StylesLib.assets.cache
/SunCloud/.vs/SunCloud/DesignTimeBuild/.dtbcache.v2
/StylesLib/bin/Debug/net6.0-windows/StylesLib.pdb
/StylesLib/bin/Debug/net6.0-windows/StylesLib.dll
/SunCloud/.vs/ProjectEvaluation/suncloud.projects.v6.1
/SunCloud/.vs/ProjectEvaluation/suncloud.metadata.v6.1
/SunCloud/.vs/SunCloud/v17/.suo
/SunCloud/.vs/SunCloud/v17/.futdcache.v2
/SunCloud/bin/Debug/net6.0-windows/WeatherLib.pdb
/SunCloud/bin/Debug/net6.0-windows/WeatherLib.dll
/SunCloud/bin/Debug/net6.0-windows/SunCloud.pdb
/SunCloud/bin/Debug/net6.0-windows/SunCloud.dll
/SunCloud/bin/Debug/net6.0-windows/StylesLib.pdb
/SunCloud/bin/Debug/net6.0-windows/StylesLib.dll
/SunCloud/bin/Debug/net6.0-windows/CustomControlLib.pdb
/SunCloud/bin/Debug/net6.0-windows/CustomControlLib.dll
/SunCloud/obj/SunCloud.csproj.nuget.dgspec.json
/SunCloud/obj/project.nuget.cache
/SunCloud/obj/project.assets.json
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.lref
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.i.lref
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.i.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_MarkupCompile.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.pdb
/SunCloud/obj/Debug/net6.0-windows/SunCloud.genruntimeconfig.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud.dll
/SunCloud/obj/Debug/net6.0-windows/SunCloud.csproj.AssemblyReference.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud.assets.cache
/WeatherLib/bin/Debug/net6.0/WeatherLib.pdb
/WeatherLib/bin/Debug/net6.0/WeatherLib.dll
/WeatherLib/obj/WeatherLib.csproj.nuget.dgspec.json
/WeatherLib/obj/project.nuget.cache
/WeatherLib/obj/Debug/net6.0/WeatherLib.pdb
/WeatherLib/obj/Debug/net6.0/WeatherLib.GeneratedMSBuildEditorConfig.editorconfig
/WeatherLib/obj/Debug/net6.0/WeatherLib.dll
/WeatherLib/obj/Debug/net6.0/WeatherLib.assets.cache
/.vs/SunClouds/v17/.wsuo
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.csproj.FileListAbsolute.txt
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.csproj.CoreCompileInputs.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib.csproj.AssemblyReference.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_c1ddi3fg_wpftmp.csproj.BuildWithSkipAnalyzers
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_c1ddi3fg_wpftmp.assets.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_c1ddi3fg_wpftmp.AssemblyInfoInputs.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_c1ddi3fg_wpftmp.AssemblyInfo.cs
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_MarkupCompile.lref
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_c1ddi3fg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_uanbw4aw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_uanbw4aw_wpftmp.assets.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_uanbw4aw_wpftmp.AssemblyInfoInputs.cache
/CustomControlLib/obj/Debug/net6.0-windows/CustomControlLib_uanbw4aw_wpftmp.AssemblyInfo.cs
/CustomControlLib/obj/CustomControlLib.csproj.nuget.g.props
/StylesLib/obj/Debug/net6.0-windows/StylesLib.csproj.CoreCompileInputs.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib.csproj.AssemblyReference.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_db2y0nea_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/StylesLib/obj/Debug/net6.0-windows/StylesLib_db2y0nea_wpftmp.assets.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_db2y0nea_wpftmp.AssemblyInfoInputs.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_db2y0nea_wpftmp.AssemblyInfo.cs
/StylesLib/obj/project.assets.json
/StylesLib/obj/Debug/net6.0-windows/StylesLib_vsxy1e41_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/StylesLib/obj/Debug/net6.0-windows/StylesLib_vsxy1e41_wpftmp.csproj.BuildWithSkipAnalyzers
/StylesLib/obj/Debug/net6.0-windows/StylesLib_vsxy1e41_wpftmp.assets.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_vsxy1e41_wpftmp.AssemblyInfoInputs.cache
/StylesLib/obj/Debug/net6.0-windows/StylesLib_vsxy1e41_wpftmp.AssemblyInfo.cs
/StylesLib/obj/Debug/net6.0-windows/StylesLib_MarkupCompile.lref
/SunCloud/obj/Debug/net6.0-windows/View/Windows/PrimaryWindow.g.i.cs
/SunCloud/obj/Debug/net6.0-windows/View/Windows/PrimaryWindow.g.cs
/SunCloud/obj/Debug/net6.0-windows/View/Windows/PrimaryWindow.baml
/SunCloud/obj/Debug/net6.0-windows/SunCloud.designer.runtimeconfig.json
/SunCloud/obj/Debug/net6.0-windows/SunCloud.csproj.FileListAbsolute.txt
/SunCloud/obj/Debug/net6.0-windows/SunCloud.csproj.CoreCompileInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_lsh2iosu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_lsh2iosu_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_lsh2iosu_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_lsh2iosu_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_lsh2iosu_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_idmabgdt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_idmabgdt_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_idmabgdt_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_idmabgdt_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_idmabgdt_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_fgz42xkg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_fgz42xkg_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_fgz42xkg_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_fgz42xkg_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_fgz42xkg_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_esqvzu4p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_esqvzu4p_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_esqvzu4p_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_esqvzu4p_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_esqvzu4p_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_bdmw04og_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_bdmw04og_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_bdmw04og_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_bdmw04og_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_bdmw04og_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_1ugk34nt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_1ugk34nt_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_1ugk34nt_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_1ugk34nt_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_02yclk5u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_02yclk5u_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_02yclk5u_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_02yclk5u_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_02yclk5u_wpftmp.AssemblyInfo.cs
/SunCloud/obj/SunCloud.csproj.nuget.g.props
/WeatherLib/obj/Debug/net6.0/WeatherLib.csproj.CoreCompileInputs.cache
/WeatherLib/obj/Debug/net6.0/WeatherLib.csproj.AssemblyReference.cache
/WeatherLib/obj/WeatherLib.csproj.nuget.g.props
/WeatherLib/obj/project.assets.json
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zu2y3ila_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zu2y3ila_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zu2y3ila_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zu2y3ila_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zu2y3ila_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zrbgpqvp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zrbgpqvp_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zrbgpqvp_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zrbgpqvp_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_zrbgpqvp_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_yuinjibd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_yuinjibd_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_yuinjibd_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_yuinjibd_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_yuinjibd_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_vxuxtdit_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_vxuxtdit_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_vxuxtdit_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_vxuxtdit_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_vxuxtdit_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/SunCloud_txbthqyg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/SunCloud/obj/Debug/net6.0-windows/SunCloud_txbthqyg_wpftmp.csproj.BuildWithSkipAnalyzers
/SunCloud/obj/Debug/net6.0-windows/SunCloud_txbthqyg_wpftmp.assets.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_txbthqyg_wpftmp.AssemblyInfoInputs.cache
/SunCloud/obj/Debug/net6.0-windows/SunCloud_txbthqyg_wpftmp.AssemblyInfo.cs
/SunCloud/obj/Debug/net6.0-windows/ref/SunCloud.dll
/SunCloud/obj/Debug/net6.0-windows/refint/SunCloud.dll
/SunCloud/obj/Debug/net6.0-windows/View/Windows/MainWindow.g.i.cs
/SunCloud/obj/Debug/net6.0-windows/View/Windows/MainWindow.g.cs
/SunCloud/obj/Debug/net6.0-windows/View/Windows/MainWindow.baml
/SunCloud/obj/Debug/net6.0-windows/SunCloud.g.resources
